{
    "BOT_TOKEN": "DISCORD-BOT-TOKEN",
    "PRESENCE_NAME": "DayZ",
    "PRESENCE_TYPE": "WATCHING",
    "POLLING_INTERVAL": 300,
    "SERVERS": [
        {
            "NAME": "Server1",
            "CHANNEL_ID": "DISCORD-VOICE-CHANNELID",
            "ADDRESS": "GAME SERVER IP",
            "PORT": "27016"
        },
        {
            "NAME": "Server2",
            "CHANNEL_ID": "DISCORD-VOICE-CHANNELID",
            "ADDRESS": "GAME SERVER IP",
            "PORT": "27116"
        }
    ]
}